* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.box {
    background: #d4d0c8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

header {
    height: 60px;
}

.middle {
    display: flex;
    gap: 4px;
    margin: 4px 0;
    height: 200px;
}

.menu {
    width: 25%;
}

.content {
    flex: 1;
}

.sidebar {
    width: 25%;
}

footer {
    height: 60px;
}

@media (max-width: 600px) {
    .menu, .sidebar, .content {
    width: 100%;
}
    .middle {
       flex-wrap: wrap;
    }


}