body {
    margin: 0;
    font-family: Arial;
    text-align: center;

    .label {
        font-size: 30px;
        margin: 20px 0;
    }

    .menu {
        background: red;
        color: white;
        padding: 20px;
        margin-bottom: 30px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-around;
        }

        .icons {
            margin-top: 20px;
            display: flex;
            justify-content: space-around;

            i {
                font-size: 24px;
                margin: 0 10px;
            }
        }
    }
}


@media (max-width: 600px) {
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

    }
    .icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}